@media screen and (max-width: 1050px) {
    .header-adaptation header {
        background-color: rgba(80, 80, 80, 0.7);
        position: absolute;
        width: 100vw;
        height: 70px;
        z-index: 9999;
        transform: scaleZ(100);
    }

    .header-adaptation .beauty-company-img {
        border-bottom: none;
        position: absolute;
        top: -25px;
        left: 5%;
        transform: scale(0.7);
        z-index: 99999;
    }

    .burger {
        position: absolute;
        top: 23px;
        right: 20px;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .burger .burger-line {
        width: 30px;
        height: 3px;
        margin: 0 0 7px;
        border-radius: 50px;
        background: white;
    }

    .burger.active .burger-line {
        position: absolute;
        top: 10px;
    }

    .burger.active .burger-line:nth-child(2) {
        display: none;
    }

    .burger.active .burger-line:nth-child(1) {
        transform: rotate(45deg);
    }

    .burger.active .burger-line:nth-child(3) {
        transform: rotate(-45deg);
    }

    .header-adaptation {
        position: fixed;
        display: flex;
    }

    .header-wrap {
        position: absolute;
        top: -1000%;
    }

    .header-wrap.active {
        background-color: rgba(180, 180, 180, 0.845);
        width: 100vw;
        height: 450px;
        position: absolute;
        top: 70px;
    }

    .main-produkt-wrap ul {
        display: none;
    }

    .header-wrap .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .header-wrap .menu li {
        margin: 20px 0;
        position: relative;
        top: 180px;
        left: 40vw;
    }

    .header-wrap .menu li a,
    .main-produkt-wrap ul li a {
        color: rgb(0, 0, 0);
        font-size: 25px;
        font-weight: 500;
    }

    .main-produkt-wrap ul li {
        position: relative;
        left: 10000%;
    }

    .main-produkt-wrap.active ul li {
        position: relative;
        top: 125px;
        left: 55vw;
    }

    .main-produkt-wrap ul li {
        margin: 20px 0;
    }

    .hidden {
        overflow: hidden;
    }



    .main-product-section {
        background-position: -600px center;
        height: 500px;
        margin: 0 auto;
    }

    .main-product-section .main-product {
        margin-left: 60px;
    }

    .main-product-section .main-product h1 {
        font-size: 35px;
    }

    .main-product-section .text-content p {
        margin: 10px 0 30px;
        font-size: 14px;
    }

    .special-proposals {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        width: 530px;
    }

    .subscribe-our_shops .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .s-o_s {
        margin: 20px 0 0 0;
    }

    /* .subscribe.s-o_s {
        margin-left: 30px;
    } */

    .head-footer div,
    .main-footer .text-content {
        width: 100px;
        margin: 0 10px;
    }

    .head-footer,
    .main-footer {
        display: flex;
        justify-content: center;
    }

    .foot-footer .contacts {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        /* margin-bottom: -100px; */
    }

    .foot-footer .contacts,
    .feedback {
        padding: 15px;
        height: 200px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .deep p:first-child {
        margin: 0 20px;
    }

    .deep p:last-child {
        margin-right: 20px;
    }
}

@media screen and (max-width: 680px) {

    .main-product-section {
        background-position: -720px center;
        margin: 0 auto;
    }

    .main-product .text-content {
        padding: 150px 0;
    }

    .special-proposals h3 {
        font-size: 30px;
    }

    .card-container {
        width: 100vw;
        justify-content: center;
    }

    .s-o_s {
        width: 350px;
        height: 350px;
        flex-direction: column;
        border-radius: 10px;
    }

    .head-footer div:first-child,
    .main-footer div:first-child {
        display: none;
    }
}

@media screen and (max-width: 560px) {

    .main-product-section {
        background-position: -860px center;
    }

    .main-product .text-content {
        padding: 100px 0;
        margin-left: -60px;
        /* transform: scale(0.8); */
        width: 230px;
    }

    .feedback {
        flex-wrap: wrap;

    }
    .feedback div:last-child a{
        margin-left: 40px;
    }

    .feedback * {
        margin: -10px auto 0;
    }
}

@media screen and (max-width: 385px) {
    .feedback{
        width: 300px;
    }
    .feedback div:last-child a{
        margin-left: 0;
    }
    .feedback div:last-child {
        margin-bottom: 60px;
    }

}

@media screen and (max-width: 340px) {

    .main-product-section {
        background-position: -870px center;
    }

    .head-footer div:last-child,
    .main-footer div:last-child {
        display: none;
    }

    .feedback .feetback-btn a {
        padding: 12px 26px;
        border: 2px solid #F13C6E;
        border-radius: 40px;
        margin-left: 0;
    }

    .deep {
        height: 100px;
    }
}