* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-size: 64px;
    font-family: sans-serif;
}

.clear {
    clear: both;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}
.bg-white{
    background-color: #E6E6E6
}
.main-block a {
    background-color: #FC8F8F;
    display: block;
}

.main-block {
    background-color: #C4C4C4;
    width: 1300px;
    margin: 100px auto;
}

.line {
    padding: 50px;
    /* background-color: #E6E6E6; */
}

.cube a {
    padding: 80px 100px;
}
.mini-cubes a{
    padding: 35px 50px;
}

.first-line .cube1 {
    float: left;
}

.first-line .cube2 {
    float: right;
}

.second-line, .third-line{
    margin-top: -50px;
}
.second-line .cube3 {
    float: left;
}

.second-line .mini-cubes-block {
    float: right;
}
.second-line .mini-cubes{
    float: left;
    margin-left: 20px;
}

.third-line .thl-block1 {
    float: left;
}
.third-line .thl-block2 {
    float: right;
}
.third-line .thl-block1 .cube{
    float: left;
    margin-right: 20px;

}
.third-line .thl-block2 .cube{
    float: left;
    margin-left: 20px;
}