* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 21px;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    /* background-color: rgb(165, 165, 161); */
}

nav {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 80px 0;
}

nav ul li {
    display: inline-block;
    margin: 0 55px 0 0;
}

.head-section h1 {
    margin: 50px 0;
}

.head-section p,
.about-me p,
.how-i-work p {
    width: 540px;
}

.btn {
    margin: 70px 0;
}

.btn a {
    background-color: #34547A;
    padding: 20px 35px;
    color: white;
}

.about-me {
    margin: 250px 0 100px 0;
}

.about-me .container div ,
.how-i-work .container div{
    margin: 0 auto 0 auto;
    width: 540px;
}

.about-me h2,
.about-me p,
.how-i-work h2,
.how-i-work p {
    text-align: center;
}

.about-me h2 ,
.how-i-work h2{
    margin-bottom: 50px;
}

.projects {
    background-color: #34547A;
    padding: 80px 0;
}

.projects .projects-item img {
    margin: 0 0 0 35px;
}
.how-i-work{
    background-color: #EEEFF1;
}

.how-i-work .container div{
    padding: 100px 0;
}
.how-i-work img{
    width: 100%;
    margin: -40px 0 100px 0;
}



footer{
    background-color: #34547A;
    height: 150px;
}
footer h3,
footer p{
    color: white;
}
footer .container {
    padding: 45px 0;
}
footer h3{
    margin: 0 0 10px 0;
}